.page-customizer-wrap {
    display: flex;
    padding-left: 320px;
    > .page-customizer-left {
        width: 320px;
        flex-shrink: 0;
        background-color: #f0f0f1;
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        overflow: auto;
        z-index: 100;
    }
    > .page-customizer-right {
        width: 100%;
        min-height: 100vh;
        > iframe {
            width: 100%;
            height: 100%;
        }
    }
}
.customizer-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 52px;
    display: flex;
    align-items: center;
    padding: 5px 12px;
    justify-content: center;
    width: 320px;
    background-color: #f0f0f1;
    border-top: 1px solid #dcdcde;
}
.customize-section-wrap {
    display: flex;
    overflow: hidden;
    height: calc(100vh - 50px);
    position: fixed;
    top: 50px;
    width: 320px;
    background-color: #f0f0f1;
    border: 1px solid #dcdcde;

    .customize-section-area {
        width: 320px;
        flex-shrink: 0;
        flex: none;
        transition: all 0.3s ease;
        overflow: auto;
        background-color: inherit;
        height: calc(100% - 50px);
    }
    .customize-options {
        flex: none;
        flex-grow: 1;
        width: 320px;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: inherit;
        transition: all 0.3s ease;
        position: absolute;
        top: 0;
        left: 320px;
        &.active {
            left: 0;
        }
        .customize-section-description-container {
            .customize-section-title {
                position: relative;
                //padding-left: 1px;
                background: #ffffff;
                display: flex;
                align-items: center;
                button {
                    width: 46px;
                    border: none;
                    border-right: 1px solid #dcdcde;
                    background: #ffffff;
                    border-left: 4px solid transparent;
                    transition: 0.3s;
                    display: flex;
                    align-items: center;
                    &:hover {
                        border-left: 4px solid #ff4a17;
                        .md {
                            color: #ff4a17;
                        }
                    }
                    .md {
                        font-size: 24px;
                        font-weight: bold;
                        color: #3c434a;
                    }
                }
                span {
                    padding: 10px 10px 12px 14px;
                    color: #50575e;
                }
            }
            .remove-section{
                right: 10px;
                top: 13px;
                position: absolute;
                cursor: pointer;
                .md{
                    font-size: 20px;
                    color: red;
                }
            }
        }
    }
    .add-sections {
        width: 320px;
        flex: none;
        position: absolute;
        height: 100%;
        left: 320px;
        overflow: auto;
        transition: all 0.3s ease;
        z-index: 100;
        top: 0;
        background-color: inherit;
        &.active {
            left: 0;
        }
    }
}
.customize-header-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 12px 7px 0;
    height: 50px;
    background-color: #f0f0f1;
    position: relative;
    > .dismiss {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-right: 1px solid #dcdcde;
        transition: 0.3s;
        &:hover {
            background: #ffffff;
            border-top: 3px solid #ff4a17;
            > .md {
                color: #ff4a17;
            }
        }
        > .md {
            font-size: 24px;
            font-weight: bold;
            color: #3c434a;
        }
    }
    > .publish {
        .btn-sm {
            padding: 0.28em 1em;
        }
    }
}

.page-customize-notice {
    background-color: #ffffff;
    > .page-customize-notice-title {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #dcdcde;
        > span {
            color: #50575e;
        }
        > .md {
            color: #50575e;
            font-size: 18px;
            padding: 2px;
            border-radius: 50%;
            cursor: pointer;
            transition: 0.1s;
            border: 1px solid transparent;
            &:hover {
                border: 1px solid #ff4a17;
                color: #ff4a17;
            }
        }
    }
    > .page-customize-notice-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in;
        > p {
            font-size: 13px;
            padding: 20px;
            color: #50575e;
            margin: 0;
        }
    }
}
.page-customize-notice-content.show {
    max-height: 300px;
}

.customize-sections {
    .customize-sections-item {
        display: flex;
        align-items: center;
        padding: 14px 10px 14px 14px;
        background: rgb(255, 255, 255);
        justify-content: space-between;
        cursor: move;
        border-bottom: 1px solid #dcdcde;
        border-left: 4px solid #fff;
        transition: 0.1s;
        &:hover {
            border-left: 4px solid #ff4a17;
            .customize-sections-item-title h3 {
                color: #ff4a17;
            }
            .customize-sections-item-icon .md {
                color: #ff4a17;
            }
        }
        .customize-sections-item-title {
            h3 {
                font-size: 14px;
                color: #50575e;
                margin: 0;
            }
        }
        .customize-sections-item-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            .md {
                color: #a7aaad;
                font-size: 20px;
            }
        }
    }
}
.customize-field {
    padding: 14px 14px;
    .hero-2 {
        > .slider-wrap {
            margin-bottom: 25px;
            background: #ffffff;
            border-radius: 10px;
            padding: 10px;
            position: relative;
            .remove-button {
                position: absolute;
                top: -10px;
                right: 0;
            }
        }
    }
    .form-group {
        div {
            .form-control {
                background-color: #ffffff;
                border-color: #8d8f95;
                min-height: 40px;
                font-size: 14px;
            }
        }
        > select {
            padding: 0px 15px 0px 15px;
        }
        > .form-control {
            background-color: #ffffff;
            border-color: #8d8f95;
            min-height: 40px;
            font-size: 14px;
        }
    }
    > .hero {
        .form-group {
            > select {
                padding: 0px 15px 0px 15px;
            }
            > .form-control {
                background-color: #ffffff;
                border-color: #8d8f95;
                min-height: 40px;
                font-size: 14px;
            }
        }
    }
    .award {
        background-color: #ffffff;
        padding: 10px 15px 1px 15px;
        border-radius: 5px;
        position: relative;
        .form-group {
            .list-wrap {
                display: flex;
                .remove-item {
                    background: transparent;
                    height: 40px;
                    border: none;
                    color: red;
                    font-size: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    outline: none;
                }
            }
        }
    }
}
.social-link-items {
    .row {
        .col-md-6 {
            .form-group {
                .form-control {
                    background-color: #ffffff;
                    border-color: #8d8f95;
                    min-height: 40px;
                    font-size: 14px;
                }
            }
        }
    }
}

.social-media-wrap {
    position: relative;
}

.list-wrap-moving-wrap {
    display: flex;
    .remove-item {
        background: transparent;
        height: 40px;
        border: none;
        color: red;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
    }
}

.single-partner-logo{
    position: relative;
}

.remove-partner-logo{
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    height: 40px;
    border: none;
    color: red;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    &:focus{
        outline: none;
    }
}

.plan-wrap {
    margin-bottom: 25px;
    background: #ffffff;
    border-radius: 10px;
    padding: 10px;
    position: relative;

    .remove-button {
        position: absolute;
        top: -10px;
        right: 0;
    }
}

.feature-list-wrap {
    display: flex;
    .remove-item {
        background: transparent;
        height: 40px;
        border: none;
        color: red;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
    }
}

.add-section-title {
    //padding-left: 1px;
    background: #ffffff;
    display: flex;
    button {
        width: 46px;
        border: none;
        border-right: 1px solid #dcdcde;
        background: #ffffff;
        border-left: 4px solid transparent;
        transition: 0.3s;
        display: flex;
        align-items: center;
        &:hover {
            border-left: 4px solid #ff4a17;
            .md {
                color: #ff4a17;
            }
        }
        .md {
            font-size: 24px;
            font-weight: bold;
            color: #3c434a;
        }
    }
    span {
        padding: 10px 10px 12px 14px;
        color: #50575e;
    }
}

.service-icon-box{
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}
